<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<style>
table, th, td {
	border: 1px solid black;
}

th, td, h1 {
	text-align: center;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="background-color: green;">
		<h1 style="color: blue">Employee Data</h1>
	</div>
	<div style="background-color: gray;">
		<form action="/employee/access/return/{id}" method="GET">
			<table>
				<tr>
					<th>Current Date</th>
					<th>Id</th>
					<th>First Name</th>
					<th>Second Name</th>
					<th>Profession</th>
					<th>Is Excepted</th>
					<th>Salary</th>
					<th>CNP</th>
					<th>Gender</th>
					<th>Full Time</th>
					<th>Aditional Information</th>
				</tr>
				<tr>
					<td>
						<p th:text="${currentDate}" />
					</td>
					<td>
						<p th:text="${id}" />
					</td>
					<td>
						<p th:text="${name}"></p>
					</td>
					<td>
						<p th:text="${second_name}"></p>
					</td>
					<td>
						<p th:text="${profession}" />
					</td>
					<td>
						<p th:text="${isExcept}" />
					</td>
					<td>
						<p th:text="${salary}" />
					</td>
					<td>
						<p th:text="${cnp}" />
					</td>
					<td>
						<p th:text="${gender}" />
					</td>
					<td>
						<p th:text="${fullTime}" />
					</td>
					<td>
						<p th:text="${adition_info}" />
					</td>
					<input type="submit">Submit
					</input>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>